body{
    margin:0;
    background-color: rgba(172, 5, 5, 0.473);
  }
  header{
    justify-content: space-between;
    background-color: #860202;
    display: flex;
  }
  nav a {
      float: left;
      text-align: center;
      padding: 25px 10px;
      color: white;
      text-decoration: none;
  }
  nav a:hover {
      background-color: rgb(107, 20, 220);
  }
  a:hover{
    font-size: 150%;
  }
  img{
    width: 40%;
    float: right;
  }
  p{
    font-size: 100%;
    text-align: center;
  }
  h3{
    font-size: 200%;
    text-align: center;
  }